.app-header {
    text-align: center;
    font-family: 'Noto Sans', 'Noto Sans KR', sans-serif;
}

.app-header {
    text-align: center;
    padding: 1em;
    background-color: #333;
    font-family: 'Art Nouveau', sans-serif; /* Example font */
    color: #fff;
}

.slogan {
    font-size: 1.2em;
    text-align: center;
    margin-top: -10px; /* Adjust as needed */
    color: #979797; /* Adjust as needed */
}

.hamburger-menu .menu-icon {
    cursor: pointer;
    font-size: 24px; /* Adjust size as needed */
    /* Styling for the icon */
}

.menu-content {
    display: none;
    /* Add additional styling for the menu appearance */
}

.menu-content.show {
    display: block; /* Or 'flex' or other depending on your design */
}

.main-content {
    padding: 2em;
    max-width: 800px;
    margin: auto;
}

.about-section, .features-section, .team-section {
    margin-bottom: 2em;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li::before {
    content: '✓ ';
    color: #32CD32; /* LimeGreen */
}

h2 {
    color: #333;
}

body {
    font-family: 'Noto Sans', 'Noto Sans KR', sans-serif;
}

.app-footer {
    font-size: 0.8em;
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.question-card {
    width: 300px;
    height: 400px;
    margin: auto;
    background-color: #f0f0f0;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
    background-size: contain; /* or cover */
    background-repeat: no-repeat;

    /* Styles for text */
    color: white;
    font-size: 3em; /* Adjust the size as needed */
    text-align: center;
    line-height: 1790px; /* This should be the same as the card's height for vertical centering */
    font-weight: bold;

    /* CSS for text stroke */
    -webkit-text-stroke: 2px darkorange; /* Adjust the width and color as needed */
    text-stroke: 2px darkorange; /* Standard property, may not be supported in all browsers */
}

.button-container {
    max-width: 250px; /* Same as the question card width */
    margin: 0 auto; /* This centers the button container */
    display: flex;
    justify-content: space-around;
    padding: 5px; /* Add padding if needed */
}

.button-container img {
    width: 40px; /* Adjust size as needed */
    height: 40px;
    cursor: pointer;
}

.swipe-right {
    animation: tiltRightSwipe 0.6s forwards;
}

.swipe-left {
    animation: tiltLeftSwipe 0.6s forwards;
}

.swipe-up {
    animation: swipeUp 0.6s forwards;
}

.swipe-down {
    animation: swipeDown 0.6s forwards;
}

.contact-section {
    text-align: center;
}

.contact-section form {
    margin-top: 2em;
    display: inline-block;
    text-align: left;
}

.contact-section label {
    display: block;
    margin: 0.5em 0;
}

.contact-section input[type="text"],
.contact-section input[type="email"],
.contact-section textarea {
    width: 100%;
    padding: 0.5em;
    margin-bottom: 1em;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.contact-section input[type="submit"] {
    background-color: #32CD32;
    color: white;
    padding: 1em 1.5em;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}

.contact-section input[type="submit"]:hover {
    background-color: #28a745;
}

nav a {
    margin: 0 1em;
    text-decoration: none;
    color: #fff;
}

nav a:hover {
    text-decoration: underline;
}

/* Responsiveness */
@media (max-width: 768px) {
    /* Adjust styles for mobile view */
}

@keyframes tiltRightSwipe {
    to {
        transform: translateX(100%) rotate(40deg);
        opacity: 0;
    }
}

@keyframes tiltLeftSwipe {
    to {
        transform: translateX(-100%) rotate(-40deg);
        opacity: 0;
    }
}

@keyframes swipeUp {
    to {
        transform: translateY(-30%);
        opacity: 0;
    }
}

@keyframes swipeDown {
    to {
        transform: translateY(10%);
        opacity: 0;
    }
}